doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Document
    link(rel='stylesheet' href='css/style.css')
  body
    .wrapper
      include includes/top-nav
      include includes/hero
      include includes/skills
      include includes/history
      include includes/services
      include includes/works
      include includes/study
      include includes/numbers
      include includes/pricing
      include includes/team
      include includes/blog
      include includes/contact
      include includes/promo
      include includes/footer
